@model MenBytes.Models.ViewModels.CartVM



<li>

        <a @*id="cd-menu-trigger" class="mini1"*@ href="@Url.Action("index", "cart")"><i class="lnr lnr-cart"></i><span class="c-no">@Model.Quantity</span> </a>
   
</li>


