
<div class="modal-body">
    @*@Html.HiddenFor(x=>x.Id)*@
      
    <div class="form-group">
      djadshakjs dhakjsdh jakdsjad ajkd 
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div>