
@{
    ViewBag.Title = "AllContactMessages";
}

@section CustomrCss{


    <!-- Data Table CSS -->
    <link href="~/AdminSide/html/vendors/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/AdminSide/html/vendors/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />


    <link href="~/clientHtml/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="~/AdminSide/html/vendors/jquery-toggles/css/toggles.css" rel="stylesheet" type="text/css">
    <link href="~/AdminSide/html/vendors/jquery-toggles/css/themes/toggles-light.css" rel="stylesheet" type="text/css">




}



<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item"><a href="/order/Index">Product</a></li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>

<!-- Container -->
<div class="container">

    <!-- Title -->
    <div class="hk-pg-header">
        <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="database"></i></span></span>Active Products</h4>
    </div>
    <!-- /Title -->
    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">

                <p class="mb-40">If you want to <code>Print this List</code>Press This <button type="button" class="btn btn-info btn-sm" id="printtabl">Print</button> Button.</p>
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">
                            <table id="datable_12" class="table table-hover w-100 display pb-30">
                                <thead>
                                    <tr>
                                        <th class="d-print-none">ID</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Subject</th>
                                        <th>Date</th>
                                        <th>Is-Read</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
    <!-- /Row -->

</div>




@section scripts{
    <script src="~/AdminSide/html/dist/JavaScriptPrint/printThis.js"></script>
    <!-- Data Table JavaScript -->
    <script src="~/AdminSide/html/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminSide/html/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminSide/html/vendors/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="~/AdminSide/html/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminSide/html/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminSide/html/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/AdminSide/html/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/AdminSide/html/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/AdminSide/html/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/AdminSide/html/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminSide/html/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminSide/html/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>



    @*<script src="~/AdminSide/html/dist/js/dataTables-data.js"></script>*@

    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
    

    <script src="~/Scripts/S_Alerts/ss_Alert/sweetalert.min_2.js"></script>


    <script src="~/Scripts/moment/ActiveFiles/moment.min.js"></script>
    <script src="~/Scripts/moment/ActiveFiles/datetime.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            var tID = "";
            // getEmployeeRecord();

            //BindData();

            $("#printtabl").click(function (e) {

                e.preventDefault();

                $('#datable_12').printThis();
            });


            var datatableProduct = $('#datable_12').DataTable({
                responsive: true,
                autoWidth: false,
                language: {
                    search: "",
                    searchPlaceholder: "Search",
                    sLengthMenu: "_MENU_items"

                },
                "processing": true,

                "bServerSide": true,
                "sAjaxSource": "/Contact/showContactsAl",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        type: "GET",
                        data: aoData,
                        url: sSource,
                        success: fnCallback
                    })
                },

                //"aaData": response,
                "aoColumns": [
                    {
                        "mData": "ID",
                        "render":function(ID, type, full, mete) {
                            return "<button type='button' class='btn btn-sm btn-outline-danger btn-link DeleteMessageBtn' data-id=" +
                                ID +
                                " title='Delete Contact Message'><i class='fa fa-trash'></i></button>";
                        }
                    },
                    {
                        "mData": "fullName"

                    },
                    {
                        "mData": "Phone"
                    },
                    {
                        "mData": "Email"
                    },
                    { "mData": "Subject" },
                    {
                        "mData": "ContactDate",
                        render: function (data, type, row) {
                            var rowvalueallday = row['ContactDate'];
                            if (rowvalueallday == '0000-00-00') {
                                var gdat = '1900-01-01';
                                return (moment(gdat).format("DD-MM-YYYY"));
                            } else {
                                return (moment(data).format("DD-MM-YYYY"));
                            }
                        }
                    }
                    , {

                        "mData": "IsRead",
                        "render": function (IsRead, type, full, mete) {
                         
                            if (full.IsRead == true) {
                                return "<p>Replied</p>"
                            } else {
                                return "<p>No-Replay</p>"
                            }
                        }
                    }

                ]
                ,createdRow: function( row, data, dataIndex ) {
                    // Set the data-status attribute, and add a class
                    $( row ).find('td:eq(0)')

                        .addClass('d-print-none');
                }
           

            });

            datatableProduct.on("click",
                "doShowbtn",
                function() {

                    var id = $(this).attr("data-id");

                    $.ajax({
                        url: "@Url.Action("hideToShow","Product")",
                        type: "GET",
                        data: {
                            id: this.id
                        }
                    }).done(function(result) {

                    }).fail(function() {

                    });
                });

            @*datatableProduct.on("click",".productDetailBtn",
                function() {
                    var pid = $(this).attr("data-pid");
                    alert("Hello");
                    $.ajax({
                 
                        url:"/Product/productDetailAdmin/"+pid,
                            type: "GET"
                        }).done(function(result) {

                            $("#orderStatusBody").html(result);

                            $("#productDetailModal").modal("show");

                        })
                        .fail(function() {

                        });
                });*@



            datatableProduct.on("click",".DeleteMessageBtn",
                function() {
                    var dataId = $(this);

                    alert("Hide Button Avgive");
                    $.ajax({
                    
                       url:"/Contact/DeleteContactMessage/"+dataId.attr("data-id"),
                        type: "POST"
                    }).done(function (result) {
                        if (result.status ===true) {
                            swal("Success! Contact Message is Successfuly Deleted form you Database!",
                                {
                                    icon: "success",
                                });
                            datatableProduct.row(dataId.parents("tr")).remove().draw();
                        } else {
                            swal("OOPs! Something Wrong yar!",
                                {
                                    icon: "warning",
                                });

                        }
                    }).fail(function() {

                    });
                });


        });


        function changestatus(id) {

            var selectValueD_V = $(".statusDD ").find(":selected").val();

            var selectValueD_T = $(".statusDD ").find(":selected").text();

            alert(selectValueD_V);

            alert(selectValueD_T);
        }

        var getEmployeeRecord = function () {
            $.ajax({
                type: "GET",
                url: "/Order/ShowAllOrders",
                success: function (response) {
                    alert(response);
                    console.log(response);
                    BindData(response);
                }
            });
        }




    </script>
}

