@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutPageClient.cshtml";
}

<div id="content">
    <!-- History -->
    <section class="history-block padding-top-100 padding-bottom-100">
        <div class="container">
            <hgroup class="title">
                <h1 class="text-info">@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </section>
   
</div>
	
