
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutPageClient.cshtml";
}
<!--======= SUB BANNER =========-->
<section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
        <div class="container">
            <h4 style="color:white">About MenBytes - The Best Collection</h4>
            <ol  class="breadcrumb" style="color:white">
                <li ><a href="@Url.Action("Index","ClientSide")" style="color:white">Home</a></li>
                <li class="active" style="color:white">About</li>
            </ol>
        </div>
    </div>
</section>

<!-- Content -->
<div id="content">

    <!-- History -->
    <section class="history-block padding-top-100 padding-bottom-100">
        <div class="container">
            <div class="about-us-con">
                <h3>A Brief History of the MenBytes</h3>
                <p>
                    Menbytes is the leading online marketplace in South Asia, empowering tens of thousands of sellers to contact with millions of customers. Draz 
                    Provides immediate  and easy acces to 10 millio producs in more than 100+ Categories and delivers more than 2 million packages enery month to
                    all cornors of its Countries.

                    draz is small, a marketplace and community for its customers. it is also a univerity for enterpreneursm and every month it educate more than 5,000
                    mew  sellers on e-Commerce operations
                </p>
                <div class="offset-1 margin-top-50">
                    <h6>1950 <span></span> 1999</h6>
                    <p>Menbytes is the leading online marketplace in South Asia, empowering tens of thousands of sellers to contact with millions of customers. Draz
                        Provides immediate  and easy acces to 10 millio producs in more than 100+ Categories and delivers more than 2 million packages enery month to
                        all cornors of its Countries.</p>
                    <h6>2000 <span></span> 2018</h6>
                    <p> MenBytes's e-commerce platforms cater to both Pakistani and global consumers, though the majority of its transactions are generated domestically. At its heart is Sale, a Pakistani consumer-to-consumer website much like eBay. Tmall offers merchants official storefronts to consumers in Pakistan. MenBytes connect businesses in Pakistan with buyers around the world and within the Country.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Culture BLOCK -->
    <section class="cultur-block">
        <ul style="list-style: none;">
            
            <li><img src="~/clientHtml/images/cultur-img-1.jpg" /></li>
            <li><img src="~/clientHtml/images/cultur-img-2.jpg" /></li>
            <li><img src="~/clientHtml/images/cultur-img-3.jpg" /></li>
            <li><img src="~/clientHtml/images/cultur-img-4.jpg" /></li>
            @*<li> <img src="~/clientHtml/images/cultur-img-1.jpg" alt=""> </li>
        <li> <img src="~/clientHtml/images/cultur-img-2.jpg" alt=""> </li>
        <li> <img src="~/clientHtml/images/cultur-img-3.jpg" alt=""> </li>
        <li> <img src="~/clientHtml/images/cultur-img-4.jpg" alt=""> </li>*@
        </ul>

        <!-- Culture Text -->
        <div class="position-center-center">
            <div class="container">
                <div class="col-sm-6 center-block">
                    <h4>Awesome Work Culture</h4>
                    <p class="">
                        MenBytes's e-commerce platforms cater to both Pakistani and global consumers, though the majority of its transactions are generated domestically. At its heart is Sale, a Pakistani consumer-to-consumer website much like eBay. Tmall offers merchants official storefronts to consumers in Pakistan. MenBytes connect businesses in Pakistan with buyers around the world and within the Country
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- OUR TEAM -->
    <section class="our-team light-gray-bg padding-top-100 padding-bottom-100">
        <div class="container">
            <div class="heading text-center">
                <h4>Our Team</h4>
                <hr>
            </div>
            
            <ul class="row">
                <!-- Member -->
                <li class="col-md-6 text-center animate fadeInUp" data-wow-delay="0.4s">
                    <article>
                        <!-- abatar -->
                        <div class="avatar">
                        
                            <img class="img-circle"  src="~/clientHtml/images/SiteImages/YounasShb.jpg"  style="width: 266px" alt="">
                            <!-- Team hover -->
                            <div class="team-hover">
                                <div class="position-center-center">
                                    <div class="social-icons"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <!-- Team Detail -->
                        <div class="team-names">
                            <h6>Mr.Younas Shb</h6>
                            <p>Teacher & Supervisor</p>
                        </div>
                    </article>
                </li>
                <li class="col-md-6  ">
                    <article style="margin-top:79px" class="text-justify">
                        <h6>Mr. Younas Shb <span>Supervisor</span></h6>
                        <p>Sir Younas Shb, Assistant Professor & Incharge Of IT Departent<br /> M.S.c Computer Science (PU) M.Phil Computer Science (COMSATS). Now He is Our Supvervisor </p>
                    </article>
                </li>
            </ul>
            <!-- TEAM -->
            <ul class="row">

                <!-- Member -->
                <li class="col-md-3 text-center animate fadeInUp" data-wow-delay="0.4s">
                    <article>
                        <!-- abatar -->
                        <div class="avatar">
                        
                            <img class="img-circle"  src="~/clientHtml/images/SiteImages/tt.jpeg" style="width: 280px" alt="">
                            <!-- Team hover -->
                            <div class="team-hover">
                                <div class="position-center-center">
                                    <div class="social-icons"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <!-- Team Detail -->
                        <div class="team-names">
                            <h6>Tayyab Ashraf</h6>
                            <p>CEO & FOUNDER</p>
                        </div>
                    </article>
                </li>

                <!-- Member -->
                <li class="col-md-3 text-center animate fadeInUp" data-wow-delay="0.6s">
                    <article>
                        <!-- abatar -->
                        <div class="avatar">
                        
                            <img class="img-circle" src="~/clientHtml/images/SiteImages/Shahroz.jpeg" style="width: 290px" alt="">
                            <!-- Team hover -->
                            <div class="team-hover">
                                <div class="position-center-center">
                                    <div class="social-icons"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a>  </div>
                                </div>
                            </div>
                        </div>
                        <!-- Team Detail -->
                        <div class="team-names">
                            <h6>Shahroz Asif</h6>
                            <p>DESIGNER</p>
                        </div>
                    </article>
                </li>

                <!-- Member -->
                <li class="col-md-3 text-center animate fadeInUp" data-wow-delay="0.8s">
                    <article>
                        <!-- abatar -->
                        <div class="avatar">
                            <img class="img-circle"  src="~/clientHtml/images/SiteImages/Hammad1.jpeg" style="width: 290px" />
                         
                            <!-- Team hover -->
                            <div class="team-hover">
                                <div class="position-center-center">
                                    <div class="social-icons"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a>  </div>
                                </div>
                            </div>
                        </div>
                        <!-- Team Detail -->
                        <div class="team-names">
                            <h6>Hammad Ahmad</h6>
                            <p>DEVELOPER</p>
                        </div>
                    </article>
                </li>


                <!-- Member -->
                <li class="col-md-3 text-center">
                    <article>
                        <!-- abatar -->
                        <div class="avatar">
                            <img class="img-circle" src="~/clientHtml/images/SiteImages/Haseeb.jpeg" style="width: 280px" />
                        
                            <!-- Team hover -->
                            <div class="team-hover">
                                <div class="position-center-center">
                                    <div class="social-icons"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <!-- Team Detail -->
                        <div class="team-names">
                            <h6>Haseeb Mughal</h6>
                            <p>Quality Head</p>
                        </div>
                    </article>
                </li>

        
            </ul>
        </div>
    </section>

    <!-- Client Img  -->
    <section class="fun-facts padding-top-100 padding-bottom-80">
        <div class="container">

            <!-- HEADING -->
            <div class="heading text-center">
                <h4>Few Facts About MenBytes</h4>
                <hr>
            </div>

            <!-- FUN FACTS -->
            <ul class="row">

                <!-- SALES -->
                <li class="col-sm-4">
                    <span>@ViewBag.totalSale</span>
                    <h5>Sales</h5>
                </li>

                <!-- Products -->
                <li class="col-sm-4">
                    <span> @ViewBag.totalProducts</span>
                    <h5>Items</h5>
                </li>

                <!-- Clients -->
                <li class="col-sm-4">
                    <span>@ViewBag.totalClients</span>
                    <h5>Clients Worldwide</h5>
                </li>
            </ul>
        </div>
    </section>

    <!-- TWEET -->
    @*<section class="tweet padding-top-100 padding-bottom-100">
        <div class="container">
            <div class="col-md-8 center-block">
                <i class="icon-social-twitter"></i>
                <p>
                    Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere
                    eros vel fermentum consectetur, risus purus tempc, et iaculis odio dolor in ex.
                </p>
                <span><span>johnsmith</span> 4 hours ago via Twitter</span>
            </div>
        </div>
    </section>*@

    <!-- WORK WITH US -->
    <section class="our-team padding-top-100 padding-bottom-100">
        <div class="container">
            <div class="heading text-center">
                <h4>We work with the best brands</h4>
                <hr>
            </div>
        </div>
        <div class="container-full">
            <div class="clients-slide">
                <div> <img src="~/ClientHtml/images/c-mg-1.png" alt=""> </div>
                <div> <img src="~/ClientHtml/images/c-mg-2.png" alt=""> </div>
                <div> <img src="~/ClientHtml/images/c-mg-3.png" alt=""> </div>
                <div> <img src="~/ClientHtml/images/c-mg-1.png" alt=""> </div>
                <div> <img src="~/ClientHtml/images/c-mg-2.png" alt=""> </div>
                <div> <img src="~/ClientHtml/images/c-mg-3.png" alt=""> </div>
                <div> <img src="~/ClientHtml/images/c-mg-1.png" alt=""> </div>
                <div> <img src="~/ClientHtml/images/c-mg-2.png" alt=""> </div>
                <div> <img src="~/ClientHtml/images/c-mg-3.png" alt=""> </div>
            </div>
        </div>
    </section>
</div>